  <% if (typeof leaflet !== 'undefined' && leaflet) { %>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <% } %>
  <% if (typeof chartjs !== 'undefined' && chartjs) { %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
  <% } %>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    socket.on('connect', () => console.log('Connected to Real-Time server'));
  </script>
</body>
</html>
